*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body
{
	background: #9053c7;
    background: -webkit-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -o-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -moz-linear-gradient(-135deg,#c850c0,#4158d0);
    background: linear-gradient(-135deg,#c850c0,#4158d0);
}
.header {
  width: 100%;
  height: 60px;
  padding:10px;
  margin:10px;
    display:flex;
    align-items:center;
/*     background-color: #E6E6FA; */
}
.header-img
{
	flex:1;
	width:100%;
	max-width:30vh;
	border-radius:10px;
	background:#fff;
}
.header-title
{
	flex:1;	
	text-align: center;
}
.header h1
{
	text-align: center;
	color:#fff;
}
.header img
{
	flaot:left;
	width: 90%;
	height: auto;
	
}
body{
}
.container{
	/*padding:10px;
	position:absolute;
	width:30%;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:#FFF;
	border-radius: 15px 50px;*/
	width: 100%;
    height:auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    /* background: #9053c7;
    background: -webkit-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -o-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -moz-linear-gradient(-135deg,#c850c0,#4158d0);
    background: linear-gradient(-135deg,#c850c0,#4158d0); */
}
.form-container{
	width:600px;
	background:#fff;
	display:flex;
	justify-content:center;
	/*padding:177px 130px 33px 95px;*/
	/* padding:50px 50px 50px 50px; */
	padding:20px;
	border-radius: 10px;
	height:60vh;
}
.form-container:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo{
	text-transform:uppercase;
	font-size:20px;
	letter-spacing:2px;
	font-weight:600;
	font-style:bold;
	text-align:center;
	color:#000;
}

form > .input-group{
	margin:50px 0;
	position:relative;
}

.input-group > .form-control {
	padding:10px 0;
	width:100%;
	border:none;
	background:#FFF;
	outline:none;
	align-items:center;
	border-bottom: 1px solid rgb(0,0,0,0.16);
	transition: .2s;
	font-size:30px;
}

.input-group > label{
	position:absolute;
	top:10px;
	left:0;
	text-transform:capitalize;
	font-size:20px;
	transition: .2s;
}

a{
	text-decoration:none;
	font-size:20px;
	float:right;
	color:#000;
	cursor:pointer;
}

.form-control:focus{
	border-color:blue;
	transition: 1.2s;
}

.form-control:focus ~ label,
.form-control.valid ~ label{
	color:blue;
	font-size:15px;
	top:-10px;
}
.form-control.valid:not(:focus) ~ label{
	color:initial;
}

button[type=submit]{
	padding:10px 20px;
	border:none;
	outline:none;
	text-transform:uppercase;
	background:blue;
	color:white;
	border-radius:4px;
	cursor:pointer;
}

@media (max-width: 768px)
.form-container {
    padding: 100px 80px 33px;
}
@media (max-width: 992px)
.font-container{
    padding: 177px 90px 33px 85px;
}