body {
  margin: 0;
}
.header {
	background: #3CC47C;  /* fallback for old browsers */
	/* background: -webkit-linear-gradient(to left, #FFFFF, #3CC47C);  Chrome 10-25, Safari 5.1-6
	background: linear-gradient(to left, #FFFFFF, #3CC47C);W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 1px;
}

.header h2 {
  position: relative;
  top: 0;
  left: 20px;
  color:#FFFFFF;
  font-weight: bold;
  font-size: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  overflow:none;
}

th, td {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {background-color: #D5F5E3;}
.table{
	border-bottom:1px solid #D5F5E3;
}
.table_data{
	margin-top:10px;
}
.addrow_form
{
	display: none;
}
.addrow 
{
	background:#F1948A;
	width:100%;
	max-width:200px;
	height:100%;
	margin-left:10px;
	padding:10px;
	max-height:80px;
	color:#FFFFFF;
}
.process{
	margin-top:10px;
	width:100%;
	text-align: center;
	display: flex;
	padding: 10px;
}

.form_outer_fields
{
	display: flex;
	margin-left:100px;
}
.form_inner_fields
{
  flex: 50%;
  padding: 30px;
  height: 500px;
}
select
{
	background:rgba(255,255,255,0.1);
	border:none;
	font-size:16px;
	font-weight:500;
	height:auto;
	margin:0;
	outline:0;
	padding:12px;
	width:100%;
	max-width:400px;
	background-color:#e8eeef;
	color:#8a97a0;
	box-shadow:0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom:25px;
}
input[type="text"],input[type=number]
{
	background:rgba(255,255,255,0.1);
	border:none;
	font-size:16px;
	font-weight:500;
	height:auto;
	margin:0;
	outline:0;
	padding:15px;
	width:100%;
	max-width:300px;
	background-color:#e8eeef;
	color:#8a97a0;
	box-shadow:0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom:5px;
}
input:focus,select:focus
{
	box-shadow:0 0 5px rgba(81,203,238,1);
	border:1px solid rgba(81,203,238,1);
	background-color:#D5F5E3;
}f
input[type="button"],
input[type="reset"],
input[type="submit"]{
	background:rgba(255,255,255,0.1);
	border:none;
	font-size:16px;
	font-weight:500;
	height:auto;
	margin:0;
	outline:0;
	padding:10px;
	width:100%;
	max-width:200px;
	background: #1E392A; 
	color:#FFFFFF;
	box-shadow:0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom:10px;
}
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover
{
	box-shadow:0 0 5px rgba(81,203,238,1);
	border:1px solid rgba(81,203,238,1);
	/*background-color:#ffffe6;*/
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
 background: #3CC47C;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  Chrome 10-25, Safari 5.1-6
background: linear-gradient(to right, #0072ff, #00c6ff); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
 */
	padding: 1px;
   text-align: left;
   font-style:italic;
   font-size:16px;
   font-family:inherit;
   color:#FFFFFF;
}
