/****  floating-Lable style start ****/
.floating-label { 
  position:relative; 
  margin-bottom:50px; 
}
.floating-input , .floating-select {
  font-size:14px;
  padding:4px 4px;
  display:block;
  width:100%;
  height:30px;
  background-color: transparent;
  border:none;
  border-bottom:1px solid #757575;
}

.floating-input:focus , .floating-select:focus {
     outline:none;
     border-bottom:2px solid #5264AE; 
}

label {
  color:#999; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:5px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
  top:-18px;
  font-size:14px;
  color:#5264AE;
}

.floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {
  top:-18px;
  font-size:14px;
  color:#5264AE;
}

/* active state */
.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
  width:50%;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* highlighter */
.highlight {
  position:absolute;
  height:50%; 
  width:100%; 
  top:15%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.floating-input:focus ~ .highlight , .floating-select:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* animation */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

/****  floating-Lable style end ****/

body
{
	padding:0px;
	margin: auto;
	background-image: url("/TimeTracker/resources/img/timebg01.jpg");
	/*font-family: 'Nunito Sans', sans-serif;*/
	font-family: 'Poppins', sans-serif;
}

a{
	text-decoration: none;
	color:#58CFF7;	
	text-align: right;
}

a:hover{
	color:#FF6D3C;	
}
.header{
	display: flex;
	margin: auto;
	color: #fff;
	width: 100%;
	align-items: center;
}
.header-img{
	flex: 1;
}
.header-img img{
	width: 200px;
	background-color: #fff;
	border-radius: 10px;
}
.header-title{
	flex:2;
	margin-left: 80px;
}
/*Container Part*/
.outer-container{
	display: flex;
	width: 60%;
	margin:auto;
	height:500px;
	justify-content: space-between;
	margin-top: 1%;
	background-color: #fff;
	/*border:1px solid black;*/
	border-radius: 50px;
	box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .15);
}
.inner-container1{
	flex: 1;
/*	border:1px solid black;*/
	background-color: #fff;
	text-align: center;
	margin: auto;
}
.inner-container1 img{
	width: 350px;
	text-align: center;
}
.inner-container2{
	flex: 1;
	text-align: center;
	margin: auto;
	padding:30px;
	/*border:1px solid black;*/
	border-radius: 50px;
	width: 100%;
	max-width: 70vh;
}
.inner-container2 h2{
	letter-spacing: 0.2em;
	margin-bottom: 50px;
}
input[type="submit"]{
	background-color:#FF6D3C;
  color: #fff;
  border:none;
  outline: none;
  padding: 15px 50px;
  width:100%;
  border-radius: 30px;
  text-align: center;
}
input[type="submit"]:hover{
	border:1px solid #58CFF7;
  color:#FF6D3C;
  font-weight: bold;
  background-color: #fff;
  text-align: center;
}